<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    
    <bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://123.207.137.35:3306/plants_reco?characterEncoding=utf-8"></property>
		<property name="username" value="root" /> 
		<property name="password" value="toor" />
		<!-- 数据库连接池保持的最小连接数 -->
		<property name="minIdle" value="1" />
		<!-- 数据库连接池保持的最大连接数 --> 
		<property name="maxIdle" value="30" />
		<!--
			当数据库连接因为某种原因断掉之后，再重新从连接池中拿另外一个连接时实际上这个连接可能
			已经无效，所以为了确保所拿到的连接全都有效需要在获取连接，返回连接以及连接空闲时进行
			有效性验证 下面3个设置为ture时进行验证，默认为false
		 -->
		<!-- 取得连接时是否进行有效性验证 -->
		<property name="testOnBorrow" value="true" />
		<!-- 返回连接时是否进行有效性验证 -->
		<property name="testOnReturn" value="true" />
		<!-- 连接空闲时是否进行有效性验证 -->
		<property name="testWhileIdle" value="true" />
		
	</bean>             
                     
                     
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
		<!-- 注意：我用的是Annotation的方式配置的Hibernate，这里的property的name是annotatedClasses -->
		<property name="mappingResources">
			<list>
				<value>com/plants_reco/domain/News.hbm.xml</value>
				<value>com/plants_reco/domain/Plants.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
			    <!-- 设置Hibernate方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- 是否打印sql -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化sql -->
				<prop key="hibernate.format_sql">true</prop>
				<!-- 是否自动更新表 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<!-- 最大抓取深度，如果为0，则关闭默认的外连接抓取。建议值为0-3 -->
				<prop key="hibernate.max_fetch_depth">1</prop>
				<!-- 用于生成有助于调试的注释信息，默认为关闭 -->
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
 		  		<prop key="hibernate.cache.use_query_cache">false</prop>
			</props>
		</property>
	</bean>                 
    
    <bean id="newsDao" class="com.plants_reco.dao.impl.NewsDaoImpl">
 		<property name="sessionFactory" ref="sessionFactory" />    <!-- 除了action类是自动装配，其他的类都需要显示的写出注入 -->
	</bean>
    
    <bean id="plantsDao" class="com.plants_reco.dao.impl.PlantsDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
	<bean id="helloWorldService" class="com.plants_reco.service.impl.HelloWorldServiceImpl">
		<property name="newsDao" ref="newsDao" />
	</bean>     <!-- action默认是自动装配的 -->
	
	<bean id="uploadService" class="com.plants_reco.service.impl.UploadServiceImpl">
	    <property name="plantsDao" ref="plantsDao"></property>
	</bean>     <!-- action默认是自动装配的 -->
</beans>
